# dependencies
/node_modules

# Next.js
/.next
/out

# local environment files
.env
.env.local
.env.*.local

# Vercel
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
*.swp
